In [1]:
import pandas as pd
import numpy as np
import itertools as it
import json
import re
from collections import Counter
from pydataset import data

In [2]:
pd.set_option('display.max_columns', None)

## Exercises

Do your work for this exercise in a python script or a jupyter notebook with the name `dataframes.py` or `dataframes.ipynb`.

For several of the following exercises, you'll need to load several datasets using the `pydataset` library. (If you get an error when trying to run the import below, use `pip` to install the `pydataset` package.)

`from pydataset import data`

When the instructions say to load a dataset, you can pass the name of the dataset as a string to the `data` function to load the dataset. You can also view the documentation for the data set by passing the `show_doc` keyword argument.

In [ ]:
# data('mpg', show_doc=True) # view the documentation for the dataset
mpg = data('mpg') # load the dataset and store it in a variable

All the datasets loaded from the `pydataset` library will be pandas dataframes.

1. Copy the code from the lesson to create a dataframe full of student grades.
    1. Create a column named `passing_english` that indicates whether each student has a passing grade in english.
    2. Sort the english grades by the `passing_english` column. How are duplicates handled?
    3. Sort the english grades first by `passing_english` and then by student name. All the students that are failing english should be first, and within the students that are failing english they should be ordered alphabetically. The same should be true for the students passing english. (Hint: you can pass a list to the `.sort_values` method)
    4. Sort the english grades first by `passing_english`, and then by the actual english grade, similar to how we did in the last step.
    5. Calculate each students overall grade and add it as a column on the dataframe. The overall grade is the average of the math, english, and reading grades.
2. Load the `mpg` dataset. Read the documentation for the dataset and use it for the following questions:
    - How many rows and columns are there?
    - What are the data types of each column?
    - Summarize the dataframe with `.info` and `.describe`
    - Rename the `cty` column to `city`.
    - Rename the `hwy` column to `highway`.
    - Do any cars have better city mileage than highway mileage?
    - Create a column named `mileage_difference` this column should contain the difference between highway and city mileage for each car.
    - Which car (or cars) has the highest mileage difference?
    - Which compact class car has the lowest highway mileage? The best?
    - Create a column named `average_mileage` that is the mean of the city and highway mileage.
    - Which dodge car has the best average mileage? The worst?
3. Load the `Mammals` dataset. Read the documentation for it, and use the data to answer these questions:
    - How many rows and columns are there?
    - What are the data types?
    - Summarize the dataframe with `.info` and `.describe`
    - What is the the weight of the fastest animal?
    - What is the overal percentage of specials?
    - How many animals are hoppers that are above the median speed? What percentage is this?

### **Awesome Bonus**

For much more practice with pandas, go to `https://github.com/guipsamora/pandas_exercises` and clone the repo down to your laptop. To clone a repository:

- Copy the SSH address of the repository
- Run `cd ~/codeup-data-science` in the terminal
- Run `git clone git@github.com:guipsamora/pandas_exercises.git`
- Run `cd pandas_exercises`
- Run `git remote remove origin` (so you won't accidentally try to push your work to guipsamora's repo_

Congratulations! You have cloned guipsamora's pandas exercises to your computer. Now you need to make a new, blank, repository on GitHub.

- Go to `https://github.com/new` to make a new repo. Name it `pandas_exercises`.
- DO NOT check any check boxes. We need a blank, empty repo.
- Finally, follow the directions to "push an existing repository from the command line" so that you can push up your changes to your own account.
- Now do your own work, add it, commit it, and push it!

<div class="alert alert-info">
  <h1><strong>STUDENTS GRADES</strong></h1>
</div>

In [3]:
np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

In [4]:
df

       name  math  english  reading
0     Sally    62       85       80
1      Jane    88       79       67
2     Suzie    94       74       95
3     Billy    98       96       88
4       Ada    77       92       98
5      John    79       76       93
6    Thomas    82       64       81
7     Marie    93       63       90
8    Albert    92       62       87
9   Richard    69       80       94
10    Isaac    92       99       93
11     Alan    92       62       72

## Create a column named pass_english

In [5]:
df['pass_english'] = df['english'] >= 70

In [6]:
df

       name  math  english  reading  pass_english
0     Sally    62       85       80          True
1      Jane    88       79       67          True
2     Suzie    94       74       95          True
3     Billy    98       96       88          True
4       Ada    77       92       98          True
5      John    79       76       93          True
6    Thomas    82       64       81         False
7     Marie    93       63       90         False
8    Albert    92       62       87         False
9   Richard    69       80       94          True
10    Isaac    92       99       93          True
11     Alan    92       62       72         False

## Sort df by pass_english...note that duplicates are further sorted by INDEX!

In [7]:
df.sort_values(by='pass_english')

       name  math  english  reading  pass_english
6    Thomas    82       64       81         False
7     Marie    93       63       90         False
8    Albert    92       62       87         False
11     Alan    92       62       72         False
0     Sally    62       85       80          True
1      Jane    88       79       67          True
2     Suzie    94       74       95          True
3     Billy    98       96       88          True
4       Ada    77       92       98          True
5      John    79       76       93          True
9   Richard    69       80       94          True
10    Isaac    92       99       93          True

## Sort df by pass_english and then by student_name

In [8]:
df.sort_values(by=['pass_english','name'])

       name  math  english  reading  pass_english
11     Alan    92       62       72         False
8    Albert    92       62       87         False
7     Marie    93       63       90         False
6    Thomas    82       64       81         False
4       Ada    77       92       98          True
3     Billy    98       96       88          True
10    Isaac    92       99       93          True
1      Jane    88       79       67          True
5      John    79       76       93          True
9   Richard    69       80       94          True
0     Sally    62       85       80          True
2     Suzie    94       74       95          True

## Sort df by pass_english and then by english_grade

In [9]:
df.sort_values(by=['pass_english','english'])

       name  math  english  reading  pass_english
8    Albert    92       62       87         False
11     Alan    92       62       72         False
7     Marie    93       63       90         False
6    Thomas    82       64       81         False
2     Suzie    94       74       95          True
5      John    79       76       93          True
1      Jane    88       79       67          True
9   Richard    69       80       94          True
0     Sally    62       85       80          True
4       Ada    77       92       98          True
3     Billy    98       96       88          True
10    Isaac    92       99       93          True

## Calculate overall grade (avg of all grades) for each student and append it as a column.

In [10]:
columns = ['math','english','reading']

In [11]:
df[columns].loc[0].mean().round(1)

75.7

In [12]:
[df[columns].loc[i].mean().round(1) for i in range(0,len(df))]

[75.7, 78.0, 87.7, 94.0, 89.0, 82.7, 75.7, 82.0, 80.3, 81.0, 94.7, 75.3]

In [13]:
df['overall_grade'] = [df[columns].loc[i].mean().round(1) for i in range(0,len(df))]

In [14]:
df

       name  math  english  reading  pass_english  overall_grade
0     Sally    62       85       80          True           75.7
1      Jane    88       79       67          True           78.0
2     Suzie    94       74       95          True           87.7
3     Billy    98       96       88          True           94.0
4       Ada    77       92       98          True           89.0
5      John    79       76       93          True           82.7
6    Thomas    82       64       81         False           75.7
7     Marie    93       63       90         False           82.0
8    Albert    92       62       87         False           80.3
9   Richard    69       80       94          True           81.0
10    Isaac    92       99       93          True           94.7
11     Alan    92       62       72         False           75.3

<div class="alert alert-info">
  <h1><strong>mpg Dataset</strong></h1>
</div>

In [15]:
df = data('mpg')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [17]:
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

## How many Rows and Columns?

In [18]:
df.shape
print(f'{df.shape[0]} ROWS \n {df.shape[1]} COLS')

234 ROWS
 11 COLS

## What are the dtypes for each col?

In [19]:
pd.DataFrame(df.dtypes)

                    0
manufacturer   object
model          object
displ         float64
year            int64
cyl             int64
trans          object
drv            object
cty             int64
hwy             int64
fl             object
class          object

## Summarize with .info and .describe

In [20]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

## Rename 'cty' to 'city'  NB - had to RESET_INDEX!

In [21]:
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [22]:
df.reset_index(inplace=True)

In [23]:
df

,index,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [24]:
df.drop(columns='index',inplace=True)

In [25]:
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [26]:
df.rename(columns={'cty': 'city'},inplace=True)

## Rename 'hwy' to 'highway'

In [27]:
df.rename(columns={'hwy': 'highway'},inplace=True)
df

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

## Do any cars have greater 'city' than 'highway' mpg?

In [28]:
df[df['city'] > df['highway']]

Empty DataFrame
Columns: [manufacturer, model, displ, year, cyl, trans, drv, city, highway, fl, class]
Index: []

## Create a column 'mileage_diff'

In [29]:
abs(df['highway'] - df['city'])

0      11
1       8
2      11
3       9
4      10
       ..
229     9
230     8
231    10
232     8
233     9
Length: 234, dtype: int64

In [30]:
abs(df['highway'].loc[0] - df['city'].loc[0])

11

In [31]:
df['mileage_diff'] = [abs(df['highway'].loc[i] - df['city'].loc[i]) for i in range(0,len(df))]

In [32]:
df

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_diff
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

## Which Car(s) has the greatest mileage_diff?

In [33]:
df.nlargest(1,columns='mileage_diff',keep='all')

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_diff
106,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12

## Which COMPACT car has the LOWEST highway mpg?  and the BEST?

In [34]:
df[df['class'] == 'compact']

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_diff
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,8
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,9
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,8
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,8
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,8
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,10
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,8
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,8
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,10
141,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact,8
142,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,8
169,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,5
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,7
171,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact,6
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact,7
186,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,6
187,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact,8
188,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact,10
189,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,9
190,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,8
191,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact,8
192,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact,9
193,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,6
194,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,9
195,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,9
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,9
197,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,9
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,8
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,7
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact,8
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,7
211,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,7
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,8
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,7
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,7
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,8
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,8
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,8
219,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,7

In [35]:
df[df['class'] == 'compact'].nsmallest(1,columns='highway',keep='all')

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_diff
219,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7

In [36]:
df[df['class'] == 'compact'].nlargest(1,columns='highway',keep='all')

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_diff
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11

## Create a column 'avg_mpg'

In [37]:
columns = ['city','highway']
df['avg_mpg'] = [df[columns].loc[i].mean().round(1) for i in range(0,len(df))]

In [38]:
df

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_diff,avg_mpg
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5

## Which DODGE car has the BEST avg_mpg?  and the LOWEST?

In [39]:
df[df['manufacturer'] == 'dodge']

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_diff,avg_mpg
37,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6,21.0
38,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan,7,20.5
39,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,19.0
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,19.0
41,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan,6,14.0
44,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan,7,18.5
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan,6,18.0
46,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan,7,19.5
47,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,7,19.5
48,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup,4,17.0
49,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup,4,16.0
50,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup,4,15.0
51,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup,3,15.5
52,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
55,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup,6,14.0
56,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,13.0
57,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv,4,15.0
58,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,15.0
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,15.0
61,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,5,13.5
62,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5,15.5
63,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,4,13.0
64,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,4,14.0
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,4,14.0
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,3,10.5
70,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,13.0
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup,5,13.5
72,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0
73,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,4,13.0

In [40]:
df[df['manufacturer'] == 'dodge'].nlargest(1,columns='avg_mpg',keep='all')

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_diff,avg_mpg
37,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6,21.0

In [41]:
df[df['manufacturer'] == 'dodge'].nsmallest(1,columns='avg_mpg',keep='all')

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_diff,avg_mpg
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,3,10.5

<div class="alert alert-info">
  <h1><strong>MAMMALS!</strong></h1>
</div>

In [42]:
df = data('Mammals',show_doc=True)

Mammals

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Garland(1983) Data on Running Speed of Mammals

### Description

Observations on the maximal running speed of mammal species and their body
mass.

### Usage

    data(Mammals)

### Format

A data frame with 107 observations on the following 4 variables.

weight

Body mass in Kg for "typical adult sizes"

speed

Maximal running speed (fastest sprint velocity on record)

hoppers

logical variable indicating animals that ambulate by hopping, e.g. kangaroos

specials

logical variable indicating special animals with "lifestyles in which speed
does not figure as an important factor": Hippopotamus, raccoon (Procyon),
badger (Meles), coati (Nasua), skunk (Mephitis), man (Homo), porcupine
(Erithizon), oppossum (didelphis), and sloth (Bradypus)

### Details

Used by Chappell (1989) and Koenker, Ng and Portnoy (1994) to illustrate the
fitting of piecewise linear curves.

### Source

Garland, T. (1983) The relation between maximal running speed and body mass in
terrestrial mammals, _J. Zoology_, 199, 1557-1570.

### References

Koenker, R., P. Ng and S. Portnoy, (1994) Quantile Smoothing Splines”
_Biometrika_, 81, 673-680.

Chappell, R. (1989) Fitting Bent Lines to Data, with Applications ot
Allometry, _J. Theo. Biology_, 138, 235-256.

### See Also

`rqss`

### Examples

    data(Mammals)
    attach(Mammals)
    x <- log(weight)
    y <- log(speed)
    plot(x,y, xlab="Weight in log(Kg)", ylab="Speed in log(Km/hour)",type="n")
    points(x[hoppers],y[hoppers],pch = "h", col="red")
    points(x[specials],y[specials],pch = "s", col="blue")
    others <- (!hoppers & !specials)
    points(x[others],y[others], col="black",cex = .75)
    fit <- rqss(y ~ qss(x, lambda = 1),tau = .9)
    plot(fit)

In [43]:
df = data('Mammals')

In [44]:
df

       weight  speed  hoppers  specials
1    6000.000   35.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
4    1400.000   45.0    False     False
5     400.000   70.0    False     False
6     350.000   70.0    False     False
7     300.000   64.0    False     False
8     260.000   70.0    False     False
9     250.000   40.0    False     False
10   3800.000   25.0    False      True
11   1000.000   60.0    False     False
12    900.000   70.0    False     False
13    900.000   56.0    False     False
14    800.000   29.0    False     False
15    750.000   57.0    False     False
16    500.000   32.0    False     False
17    450.000   56.0    False     False
18    300.000   72.0    False     False
19    300.000   90.0    False     False
20    250.000   80.0    False     False
21    250.000   56.0    False     False
22    170.000   80.0    False     False
23    150.000   48.0    False     False
24    130.000   70.0    False     False
25    120.000   80.0    False     False
26    120.000   61.0    False     False
27    110.000   33.0    False     False
28    100.000   64.0    False     False
29     85.000   55.0    False     False
30     80.000   65.0    False     False
31     72.000   56.0    False     False
32     70.000   45.0    False     False
33     65.000   60.0    False     False
34     62.000   81.0    False     False
35     50.000  100.0    False     False
36     50.000   60.0    False     False
37     50.000   40.0    False     False
38     50.000   47.0    False     False
39     37.000  105.0    False     False
40     35.000   80.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
43     30.000   80.0    False     False
44     30.000   45.0    False     False
45     20.000   81.0    False     False
46    400.000   40.0    False     False
47    300.000   48.0    False     False
48    230.000   56.0    False     False
49    150.000   59.0    False     False
50    135.000   48.0    False     False
51     65.000   65.0    False     False
52     60.000   60.0    False     False
53     55.000  110.0    False     False
54     45.000   50.0    False     False
55     40.000   64.0    False     False
56     25.000   67.0    False     False
57     20.000   70.0    False     False
58     16.000   65.0    False     False
59     12.000   24.0    False      True
60     11.000   30.0    False      True
61     10.000   56.0    False     False
62      7.000   60.0    False     False
63      6.000   72.0    False     False
64      5.000   64.0    False     False
65      5.000   27.0    False      True
66      3.000   16.0    False      True
67    127.000   32.0    False     False
68     70.000   40.0    False      True
69     13.000   37.0    False      True
70      9.000    3.2    False      True
71      4.000   16.0    False     False
72      0.600   36.0    False     False
73      0.600   20.0    False     False
74      0.550   27.0    False     False
75      0.500   18.0    False     False
76      0.400   20.0    False     False
77      0.300   13.0    False     False
78      0.250    9.7    False     False
79      0.220   15.0    False     False
80      0.110    9.0    False     False
81      0.100   17.0    False     False
82      0.056   21.0     True     False
83      0.050   11.0    False     False
84      0.045   16.0    False     False
85      0.035   32.0     True     False
86      0.035   14.0     True     False
87      0.030    6.8    False     False
88      0.030    9.1    False     False
89      0.025   11.0    False     False
90      0.025    8.6    False     False
91      0.018    8.9    False     False
92      0.016   13.0    False     False
93      0.100    4.0    False     False
94      0.100    2.4    False     False
95      0.016    3.6    False     False
96      4.600   64.0     True     False
97      4.400   72.0     True     False
98      4.000   72.0     True     False
99      3.500   56.0     True     False
100     2.000   64.0     True     False
101     1.900   56.0     True     False
102     1.500   50.0     True     False
103     1.500   40.0     True     False
104    50.000   65.0    False     False
105     5.000    7.4    False      True
106     0.024   13.0    False     False
107     4.000    1.6    False      True

## How many Rows and Columns?

In [45]:
df.shape

(107, 4)

## What are the data types of each column?

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 1 to 107
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weight    107 non-null    float64
 1   speed     107 non-null    float64
 2   hoppers   107 non-null    bool
 3   specials  107 non-null    bool
dtypes: bool(2), float64(2)
memory usage: 2.7 KB

## Summarize the df w/ INFO and DESCRIBE

In [47]:
df.describe()

            weight       speed
count   107.000000  107.000000
mean    278.688178   46.208411
std     839.608269   26.716778
min       0.016000    1.600000
25%       1.700000   22.500000
50%      34.000000   48.000000
75%     142.500000   65.000000
max    6000.000000  110.000000

## What is weight of fastest mammal?

In [48]:
df[df['speed']==df['speed'].max()][['weight']]

    weight
53    55.0

## What is the overall pct of mammals labeled 'special'?

In [49]:
df['specials'].mean().round(3)

0.093

## How many mammals are hoppers with a speed greater than the average?  What pct of the rows does this represent?

In [50]:
df['speed'].mean()

46.20841121495327

In [51]:
df[df['speed'] > df['speed'].mean()].sort_values('speed')

     weight  speed  hoppers  specials
38     50.0   47.0    False     False
47    300.0   48.0    False     False
50    135.0   48.0    False     False
23    150.0   48.0    False     False
102     1.5   50.0     True     False
54     45.0   50.0    False     False
29     85.0   55.0    False     False
61     10.0   56.0    False     False
21    250.0   56.0    False     False
48    230.0   56.0    False     False
17    450.0   56.0    False     False
13    900.0   56.0    False     False
99      3.5   56.0     True     False
101     1.9   56.0     True     False
31     72.0   56.0    False     False
15    750.0   57.0    False     False
49    150.0   59.0    False     False
33     65.0   60.0    False     False
62      7.0   60.0    False     False
11   1000.0   60.0    False     False
36     50.0   60.0    False     False
52     60.0   60.0    False     False
26    120.0   61.0    False     False
55     40.0   64.0    False     False
28    100.0   64.0    False     False
64      5.0   64.0    False     False
96      4.6   64.0     True     False
100     2.0   64.0     True     False
7     300.0   64.0    False     False
58     16.0   65.0    False     False
51     65.0   65.0    False     False
30     80.0   65.0    False     False
104    50.0   65.0    False     False
56     25.0   67.0    False     False
57     20.0   70.0    False     False
5     400.0   70.0    False     False
6     350.0   70.0    False     False
8     260.0   70.0    False     False
12    900.0   70.0    False     False
24    130.0   70.0    False     False
98      4.0   72.0     True     False
97      4.4   72.0     True     False
18    300.0   72.0    False     False
63      6.0   72.0    False     False
43     30.0   80.0    False     False
20    250.0   80.0    False     False
25    120.0   80.0    False     False
22    170.0   80.0    False     False
40     35.0   80.0    False     False
45     20.0   81.0    False     False
34     62.0   81.0    False     False
19    300.0   90.0    False     False
41     34.0   97.0    False     False
42     30.0   97.0    False     False
35     50.0  100.0    False     False
39     37.0  105.0    False     False
53     55.0  110.0    False     False

In [52]:
len(df[df['speed'] > df['speed'].mean()])

57

In [53]:
df['faster'] = df['speed'] > df['speed'].mean()

In [54]:
df

       weight  speed  hoppers  specials  faster
1    6000.000   35.0    False     False   False
2    4000.000   26.0    False     False   False
3    3000.000   25.0    False     False   False
4    1400.000   45.0    False     False   False
5     400.000   70.0    False     False    True
6     350.000   70.0    False     False    True
7     300.000   64.0    False     False    True
8     260.000   70.0    False     False    True
9     250.000   40.0    False     False   False
10   3800.000   25.0    False      True   False
11   1000.000   60.0    False     False    True
12    900.000   70.0    False     False    True
13    900.000   56.0    False     False    True
14    800.000   29.0    False     False   False
15    750.000   57.0    False     False    True
16    500.000   32.0    False     False   False
17    450.000   56.0    False     False    True
18    300.000   72.0    False     False    True
19    300.000   90.0    False     False    True
20    250.000   80.0    False     False    True
21    250.000   56.0    False     False    True
22    170.000   80.0    False     False    True
23    150.000   48.0    False     False    True
24    130.000   70.0    False     False    True
25    120.000   80.0    False     False    True
26    120.000   61.0    False     False    True
27    110.000   33.0    False     False   False
28    100.000   64.0    False     False    True
29     85.000   55.0    False     False    True
30     80.000   65.0    False     False    True
31     72.000   56.0    False     False    True
32     70.000   45.0    False     False   False
33     65.000   60.0    False     False    True
34     62.000   81.0    False     False    True
35     50.000  100.0    False     False    True
36     50.000   60.0    False     False    True
37     50.000   40.0    False     False   False
38     50.000   47.0    False     False    True
39     37.000  105.0    False     False    True
40     35.000   80.0    False     False    True
41     34.000   97.0    False     False    True
42     30.000   97.0    False     False    True
43     30.000   80.0    False     False    True
44     30.000   45.0    False     False   False
45     20.000   81.0    False     False    True
46    400.000   40.0    False     False   False
47    300.000   48.0    False     False    True
48    230.000   56.0    False     False    True
49    150.000   59.0    False     False    True
50    135.000   48.0    False     False    True
51     65.000   65.0    False     False    True
52     60.000   60.0    False     False    True
53     55.000  110.0    False     False    True
54     45.000   50.0    False     False    True
55     40.000   64.0    False     False    True
56     25.000   67.0    False     False    True
57     20.000   70.0    False     False    True
58     16.000   65.0    False     False    True
59     12.000   24.0    False      True   False
60     11.000   30.0    False      True   False
61     10.000   56.0    False     False    True
62      7.000   60.0    False     False    True
63      6.000   72.0    False     False    True
64      5.000   64.0    False     False    True
65      5.000   27.0    False      True   False
66      3.000   16.0    False      True   False
67    127.000   32.0    False     False   False
68     70.000   40.0    False      True   False
69     13.000   37.0    False      True   False
70      9.000    3.2    False      True   False
71      4.000   16.0    False     False   False
72      0.600   36.0    False     False   False
73      0.600   20.0    False     False   False
74      0.550   27.0    False     False   False
75      0.500   18.0    False     False   False
76      0.400   20.0    False     False   False
77      0.300   13.0    False     False   False
78      0.250    9.7    False     False   False
79      0.220   15.0    False     False   False
80      0.110    9.0    False     False   False
81      0.100   17.0    False     False   False
82      0.056   21.0     True     False   False
83      0.050   11.0    False     False   False
84      0.045   16.0    False     False   False
85      0.035   32.0     True     False   False
86      0.035   14.0     True     False   False
87      0.030    6.8    False     False   False
88      0.030    9.1    False     False   False
89      0.025   11.0    False     False   False
90      0.025    8.6    False     False   False
91      0.018    8.9    False     False   False
92      0.016   13.0    False     False   False
93      0.100    4.0    False     False   False
94      0.100    2.4    False     False   False
95      0.016    3.6    False     False   False
96      4.600   64.0     True     False    True
97      4.400   72.0     True     False    True
98      4.000   72.0     True     False    True
99      3.500   56.0     True     False    True
100     2.000   64.0     True     False    True
101     1.900   56.0     True     False    True
102     1.500   50.0     True     False    True
103     1.500   40.0     True     False   False
104    50.000   65.0    False     False    True
105     5.000    7.4    False      True   False
106     0.024   13.0    False     False   False
107     4.000    1.6    False      True   False

In [55]:
df['faster'] = df.faster.astype('int')

In [56]:
df

       weight  speed  hoppers  specials  faster
1    6000.000   35.0    False     False       0
2    4000.000   26.0    False     False       0
3    3000.000   25.0    False     False       0
4    1400.000   45.0    False     False       0
5     400.000   70.0    False     False       1
6     350.000   70.0    False     False       1
7     300.000   64.0    False     False       1
8     260.000   70.0    False     False       1
9     250.000   40.0    False     False       0
10   3800.000   25.0    False      True       0
11   1000.000   60.0    False     False       1
12    900.000   70.0    False     False       1
13    900.000   56.0    False     False       1
14    800.000   29.0    False     False       0
15    750.000   57.0    False     False       1
16    500.000   32.0    False     False       0
17    450.000   56.0    False     False       1
18    300.000   72.0    False     False       1
19    300.000   90.0    False     False       1
20    250.000   80.0    False     False       1
21    250.000   56.0    False     False       1
22    170.000   80.0    False     False       1
23    150.000   48.0    False     False       1
24    130.000   70.0    False     False       1
25    120.000   80.0    False     False       1
26    120.000   61.0    False     False       1
27    110.000   33.0    False     False       0
28    100.000   64.0    False     False       1
29     85.000   55.0    False     False       1
30     80.000   65.0    False     False       1
31     72.000   56.0    False     False       1
32     70.000   45.0    False     False       0
33     65.000   60.0    False     False       1
34     62.000   81.0    False     False       1
35     50.000  100.0    False     False       1
36     50.000   60.0    False     False       1
37     50.000   40.0    False     False       0
38     50.000   47.0    False     False       1
39     37.000  105.0    False     False       1
40     35.000   80.0    False     False       1
41     34.000   97.0    False     False       1
42     30.000   97.0    False     False       1
43     30.000   80.0    False     False       1
44     30.000   45.0    False     False       0
45     20.000   81.0    False     False       1
46    400.000   40.0    False     False       0
47    300.000   48.0    False     False       1
48    230.000   56.0    False     False       1
49    150.000   59.0    False     False       1
50    135.000   48.0    False     False       1
51     65.000   65.0    False     False       1
52     60.000   60.0    False     False       1
53     55.000  110.0    False     False       1
54     45.000   50.0    False     False       1
55     40.000   64.0    False     False       1
56     25.000   67.0    False     False       1
57     20.000   70.0    False     False       1
58     16.000   65.0    False     False       1
59     12.000   24.0    False      True       0
60     11.000   30.0    False      True       0
61     10.000   56.0    False     False       1
62      7.000   60.0    False     False       1
63      6.000   72.0    False     False       1
64      5.000   64.0    False     False       1
65      5.000   27.0    False      True       0
66      3.000   16.0    False      True       0
67    127.000   32.0    False     False       0
68     70.000   40.0    False      True       0
69     13.000   37.0    False      True       0
70      9.000    3.2    False      True       0
71      4.000   16.0    False     False       0
72      0.600   36.0    False     False       0
73      0.600   20.0    False     False       0
74      0.550   27.0    False     False       0
75      0.500   18.0    False     False       0
76      0.400   20.0    False     False       0
77      0.300   13.0    False     False       0
78      0.250    9.7    False     False       0
79      0.220   15.0    False     False       0
80      0.110    9.0    False     False       0
81      0.100   17.0    False     False       0
82      0.056   21.0     True     False       0
83      0.050   11.0    False     False       0
84      0.045   16.0    False     False       0
85      0.035   32.0     True     False       0
86      0.035   14.0     True     False       0
87      0.030    6.8    False     False       0
88      0.030    9.1    False     False       0
89      0.025   11.0    False     False       0
90      0.025    8.6    False     False       0
91      0.018    8.9    False     False       0
92      0.016   13.0    False     False       0
93      0.100    4.0    False     False       0
94      0.100    2.4    False     False       0
95      0.016    3.6    False     False       0
96      4.600   64.0     True     False       1
97      4.400   72.0     True     False       1
98      4.000   72.0     True     False       1
99      3.500   56.0     True     False       1
100     2.000   64.0     True     False       1
101     1.900   56.0     True     False       1
102     1.500   50.0     True     False       1
103     1.500   40.0     True     False       0
104    50.000   65.0    False     False       1
105     5.000    7.4    False      True       0
106     0.024   13.0    False     False       0
107     4.000    1.6    False      True       0

In [57]:
round(df.faster.mean(),3)

0.533